.videoplayer {
    display: block;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

.audioplayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    padding-top: 40px;
}

.buttonplacement {
    text-align: center;
    padding: 10px;
}

button {
    color: red;
    width: 6%;
    height: 6%;
}

@media screen and (max-width: 780px) {
    .videoplayer {
        display: block;
        width: 350px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .audioplayer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        color: red;
        width: 14%;
        height: 14%;
    }
}